body {
  background-color: #E9E1DF;
}
h1 {
  color: black;
  text-align :center;
}
p {
  color: red;
}
#logo{ 
	position:fixed; 
	top:0; 
	left:0; 
} 
#HOME{ 
	position:fixed; 
	top:0; 
	left:200; 
} 
