
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<title> CAR WEB Application </title>
<h1> Web Application for CAR Analytics Capability Demo</h1>
<div id="logo"> 
	<img src="{{ url_for('static', filename='ghd-logo.jpg') }}"> 
</div>
<table>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr><td><h4>Select Site</h4></td></tr>
<tr><td>
<form method="post">
  <input list="Sites" name="site">
  <datalist id="Sites">
  <option value="1985_351786_09-13-1985_UST HYDROCARBON LEAK - T0607302934.txt">
<option value="1986_351786_03-27-1987_GOV REG-COMPANY-UNAUTHORIZED RELEASE RPT - T0607302934.txt">
<option value="1986_351786_04-02-1986_UNAUTHORIZED - T0607302934.txt">
<option value="1986_351786_10-06-1986_CONTR-GOV REG-WATER DISCHARGE TO SEWER - T0607302934.txt">
<option value="1987-11-10-COMPANY-GOV REG-RE SITE ASSESS REMEDIATION PLANS - T0603703708.txt">
<option value="1987-12-09-CONTR SITE ASSESS INVESTG - T0603703708.txt">
<option value="1987_351786_06-18-1987_GOV REG-COMPANY-UNAUTHORIZED RELEASE - T0607302934.txt">
<option value="1988-01-19-GOV REG-COMPANY-NOTICE OF NONCOMPL - T0603703708.txt">
<option value="1988-02-01-CONTR -GOV REG-RE STATUS OF SITE ASSESS - T0603703708.txt">
<option value="1988-03-23-GOV REG-COMPANY-RE HAZ MATERIALS UUNDER STOR CLOSURE - T0603703708.txt">
<option value="1988-04-22-CONTR -COMPANY-SITE ASSESS RPT - T0603703708.txt">
<option value="1988_351786_07-25-1988_GOV REG-CONTR-UNAUTHORIZED RELEASE - T0607302934.txt">
<option value="1989-08-01-COMPANY-COMPANY-CLEAN UP STATUS RPT-1530889C - T0603703708.txt">
<option value="1989-12-07-COMPANY-GOV REG-TRANSM RE SITE ASSESS RPT - T0603703708.txt">
<option value="1989_351786_04-18-1989_GOV REG-COMPANY-UNAUTHORIZED RELEASE - T0607302934.txt">
<option value="1989_351786_09-22-1989_UNAUTHORIZED RELEASE - T0607302934.txt">
<option value="1990-03-09-GOV REG-COMPANY-NOTIF OF RESPONSIBILITY FOR REIMBURSEMENT - T0603703708.txt">
<option value="1990-09-27-GOV REG-COMPANY-RE UST OVERSITE PROGRAM REVIEW SHEET - T0603703708.txt">
<option value="1990-11-13-COMPANY-GOV REG-RE RESPONSE TO LTR - T0603703708.txt">
<option value="1990-12-06-GOV REG-COMPANY-RE DEADLINE EXTENSION REQUEST - T0603703708.txt">
<option value="1990_351786_01-04-1990_GOV REG-CONTR-UNAUTHORIZED RELEASE - T0607302934.txt">
<option value="1991-01-15-COMPANY-GOV REG-RE PROPOSED METHOD FOR ESTAB ALLOW HYDROCARBON - T0603703708.txt">
<option value="1991-03-20-GOV REG-COMPANY-RE UST OVERSIGHT PROGRAM REVIEW SHEET - T0603703708.txt">
<option value="1991-04-01-CONTR SUPPLEMENTAL SITE ASSESS - T0603703708.txt">
<option value="1991-05-09-COMPANY-GOV REG-RE WP FOR SITE ASSESS - T0603703708.txt">
<option value="1991-06-13-GOV REG-COMPANY-UST LOCAL OVERSIGHT PROG REVIEW SHEET - T0603703708.txt">
<option value="1991-07-02-CONTR -GOV REG-RE DOCUMENTATION OF CONVERSATION RE SITE PROPOS - T0603703708.txt">
<option value="1991-08-14-GOV REG-COMPANY-UST LOCAL OVERSIGHT PROG REVIEW SHEET - T0603703708.txt">
<option value="1991-12-27-CONTR -COMPANY-EM GEOPHYSICAL SITE ASSESS - T0603703708.txt">
<option value="1991_351786_10-04-1991_CONTR-GOV REG-LTR OF CLARIFICATION NPDES APPLIC - T0607302934.txt">
<option value="1992-03-05-CONTR -COMPANY-RPT OF SUBSURFACE INVESTG - T0603703708.txt">
<option value="1992-04-30-CONTR -GOV REG-SITE QTRLY RPT JAN 1-MAR 30, 1992 - T0603703708.txt">
<option value="1992-05-19-CONTR -COMPANY-NON-HAZ MANIF - T0603703708.txt">
<option value="1992-07-06-GOV REG-COMPANY-UST LOCAL OVERSIGHT PROG REVIEW SHEET - T0603703708.txt">
<option value="1992-07-27-CONTR -GOV REG-SITE QTRLY RPT APR 1-JUN 30, 1992 - T0603703708.txt">
<option value="1992-08-31-GOV REG-COMPANY-RE DEADLINE EXTENSION - T0603703708.txt">
<option value="1992-10-05-COMPANY-GOV REG-RE WP FOR SUBSURFACE INVESTG - T0603703708.txt">
<option value="1992-10-15-GOV REG-COMPANY-RE UST OVERSIGHT PROG REVIEW SHEET - T0603703708.txt">
<option value="1992-10-30-CONTR -GOV REG-SITE QTRLY RPT JUL 1-SEP 30, 1992 - T0603703708.txt">
<option value="1992-12-16-GOV REG-COMPANY-RE PETITIONS FOR REVIEW OF LOCAL AGENCYS COSTS - T0603703708.txt">
<option value="1992-12-17-GOV REG-COMPANY-RE UST OVERSIGHT PROG REVIEW SHEET - T0603703708.txt">
<option value="1992_351786_09-15-1992_GOV REG-COMPANY-NOTICE OF REIMB RESPONSIBILITY - T0607302934.txt">
<option value="1992_351786_10-23-1992_GOV REG-COMPANY-MONTRG WELL CONSTRUCTION DEFICIENCIES - T0607302934.txt">
<option value="1993-01-29-CONTR -GOV REG-SITE QTRLY RPT OCT 1-DEC 31, 1992 - T0603703708.txt">
<option value="1993-04-30-CONTR -GOV REG-SITE QTRLY RPT JAN 1-MAR 31, 1993 - T0603703708.txt">
<option value="1993-06-09-CONTR SUPPLEMENTAL SUBSURFACE INVESTG - T0603703708.txt">
<option value="1993-06-28-COMPANY-GOV REG-RE SUPLLEMENTAL SITE ASSESS RPT - T0603703708.txt">
<option value="1993-10-29-CONTR -GOV REG-SITE QTRLY RPT JUL 1-SEP 30, 1993 - T0603703708.txt">
<option value="1993_351786_01-27-1993_GOV REG-COMPANY-MONTRG WELL CORRECTIONS - T0607302934.txt">
<option value="1993_351786_02-05-1993_COMPANY-GOV REG-TRANSM WP FOR OFFSITE REMEDIAL INVEST - T0607302934.txt">
<option value="1993_351786_06-18-1993_GOV REG-COMPANY-UNAUTHORIZED RELEASE - T0607302934.txt">
<option value="1993_351786_06-29-1993_GOV REG-GOV REG-INSTALLATION OF 2 GW MONTRG WELLS - T0607302934.txt">
<option value="1993_351786_07-01-1993_GOV REG-CONTR-NOTICE OF MTG DATE - T0607302934.txt">
<option value="1994-01-31-CONTR -GOV REG-SITE QTRLY RPT OCT 1-DEC 31, 1993 - T0603703708.txt">
<option value="1994-02-28-GOV REG-COMPANY-RE UST OVERSIGHT PROGRAM REVIEW SHEET - T0603703708.txt">
<option value="1994-04-11-COMPANY-GOV REG-RE GW WELL WP - T0603703708.txt">
<option value="1994-04-29-CONTR -GOV REG-SITE QTRLY RPT JAN 1-MAR 31, 1994 - T0603703708.txt">
<option value="1994-07-21-GOV REG-COMPANY-RE UST OVERSIGHT PROGRAM REVIEW SHEET - T0603703708.txt">
<option value="1994-07-29-CONTR -GOV REG-SITE QTRLY RPT APR 1-JUN 30, 1994 - T0603703708.txt">
<option value="1994-10-28-CONTR -GOV REG-SITE QTRLY RPT JUL 1-SEP 30, 1994 - T0603703708.txt">
<option value="1994-12-05-GOV REG-COMPANY-RE UST LOCAL OVERSIGHT PROGRAM REVIEW SHEET - T0603703708.txt">
<option value="1994-12-06-CONTR LAB RPTS - T0603703708.txt">
<option value="1994-12-30-CONTR -COMPANY-GW INVESTG - T0603703708.txt">
<option value="1994_351786_04-04-1994_COMPANY-GOV REG-TRANSM OF RPTS-1948979CTIF - T0607302934.txt">
<option value="1994_351786_06-13-1994_CONTR-COMPANY-TRANSM BORROWED RPTS - T0607302934.txt">
<option value="1994_351786_12-05-1994_GOV REG-COMPANY-REVIEW OF RPTS - T0607302934.txt">
<option value="1995-01-06-COMPANY-GOV REG-RE GW WELL INVEST RPT - T0603703708.txt">
<option value="1995-01-31-CONTR -GOV REG-QTR SITE RPT OCT - DEC 1994 - T0603703708.txt">
<option value="1995-01-31-GOV REG-COMPANY-UST LOCAL OVERSIGHT PROGRAM - T0603703708.txt">
<option value="1995-04-04-CONTR -GOV REG-TRANSM - WP FOR ADD GW WELLS - T0603703708.txt">
<option value="1995-04-28-CONTR -GOV REG-QTR SITE RPT JAN - MAR 1995 - T0603703708.txt">
<option value="1995-07-31-CONTR -GOV REG-QTR SITE RPT APR - JUN 1995 - T0603703708.txt">
<option value="1995-10-31-CONTR -GOV REG-QTR SITE RPT JUL - SEPT 1995 - T0603703708.txt">
<option value="1995_351786_01-31-1995_COMPANY-GOV REG-GW SAMPLING - T0607302934.txt">
<option value="1995_351786_02-27-1995_COMPANY-GOV REG-INVESTIG OF OFFSITE HYDROCARBONS - T0607302934.txt">
<option value="1995_351786_03-01-1995_CONTR-GOV REG-REQUEST TO REVIEW AGENCY RECORDS - T0607302934.txt">
<option value="1995_351786_03-08-1995_COMPANY-GOV REG-TRANSM VADOSE ZONE TESTING RPT OF 2 - 16 - 95 - T0607302934.txt">
<option value="1995_351786_08-03-1995_COMPANY-GOV REG-TRANSM REVIEW OF AGENCY RECORDS AND DATA - T0607302934.txt">
<option value="1996-01-31-CONTR -GOV REG-SITE QTRLY RPT OCT 1-DEC 31, 1995 - T0603703708.txt">
<option value="1996-03-31-CONTR -COMPANY-QTRLY MONTRNG RPT JAN-MAR 1996 - T0603703708.txt">
<option value="1996-04-30-CONTR -GOV REG-SITE QTRLY RPT JAN 1-APR 30, 1996 - T0603703708.txt">
<option value="1996-06-30-CONTR -COMPANY-QTRLY MONTRNG RPT APR-JUN 1996 - T0603703708.txt">
<option value="1996-07-12-GOV REG-COMPANY-UST LOCAL OVERSIGHT PROGRAM-1531302C - T0603703708.txt">
<option value="1996-07-31-CONTR -GOV REG-SITE QTRLY RPT APR 1-JUN 30, 1996 - T0603703708.txt">
<option value="1996-09-30-CONTR -COMPANY-QTRLY MONTRNG RPT JUL-SEP 1996 - T0603703708.txt">
<option value="1996-10-31-CONTR -GOV REG-SITE QTRLY RPT JUL 1-SEP 30, 1996 - T0603703708.txt">
<option value="1996-12-31-CONTR -COMPANY-QTRLY MONTRNG RPT OCT-DEC 1996 - T0603703708.txt">
<option value="1996_351786_04-30-1996_GOV REG-COMPANY-REVIEW 7 - 14 - 95 LTR RPT - T0607302934.txt">
<option value="1997-01-31-CONTR -GOV REG-SITE QTRLY RPT OCT 1-DEC 31, 1996 - T0603703708.txt">
<option value="1997-03-27-GOV REG-COMPANY-UST SUBSURFACE INVESTG - T0603703708.txt">
<option value="1997-03-31-CONTR -COMPANY-QTRLY MONTRNG RPT JAN-MAR 1997 - T0603703708.txt">
<option value="1997-04-30-CONTR -GOV REG-SITE QTRLY RPT JAN 1-MAR 31, 1997 - T0603703708.txt">
<option value="1997-06-30-CONTR -COMPANY-QTRLY MONTRNG RPT APR-JUN 1997 - T0603703708.txt">
<option value="1997-07-17-GOV REG-COMPANY-VARIOUS LOC RULE 1166 CONTAMINATED SOILS - T0603703708.txt">
<option value="1997-08-05-CONTR -GOV REG-SITE QTRLY RPT APR 1-JUN 30, 1997 - T0603703708.txt">
<option value="1997-09-11-GOV REG-COMPANY-UST PROGRAM - DELINQUENT RPT - T0603703708.txt">
<option value="1997-09-22-CONTR -GOV REG-RE CRWQCB REQUEST FOR SITE INVESTG - T0603703708.txt">
<option value="1997-09-30-CONTR -COMPANY-3RD QTR 1997 FLUID MONTRNG AND GW RPT - T0603703708.txt">
<option value="1997-10-14-CONTR -GOV REG-SITE QTRLY RPT JUL 1-SEP 30, 1997 - T0603703708.txt">
<option value="1997-10-28-GOV REG-COMPANY-ENCROACHMENT LICENSE - T0603703708.txt">    
  </datalist>
  <input type="submit">
</form>
</td></tr>
<table>
<div id='SIte Details'>
<!-- This is a comment -->
<div>
<div id="HOME"> 
<form method="post">
<input type="submit" value="HOME" name="home"/>
</form>
</div>
</html>
